{{#*inline "title"}}
Home
{{/inline}}

{{#*inline "heading"}}
Alan Panayotov
{{/inline}}

{{#*inline "content"}}
  <p>Hi, I'm Alan, and I'm a student at UCC interested in fullstack web and game development.</p>
  {{>partials/socials}}
{{/inline}}
{{>partials/_base}}
