{{#*inline "title"}}
Home
{{/inline}}

{{#*inline "heading"}}
Alan Panayotov
{{/inline}}

{{#*inline "content"}}
  <p>Hi, I'm Alan, a fullstack engineer with an interest in just about anything you can think of.</p>
  {{>partials/socials}}
{{/inline}}
{{>partials/_base}}
