<nav> {{! TOOD: make this iterate through a pages array instead}}
  {{#if (eq page "index")}}
  <a class="active" href="/">About</a>
  {{else}}
  <a href="/">About</a>
  {{/if}}
  {{#if (eq page "projects")}}
  <a class="active" href="/projects">Projects</a>
  {{else}}
  <a href="/projects">Projects</a>
  {{/if}}
  {{#if (eq page "awards")}}
  <a class="active" href="/awards">Awards</a>
  {{else}}
  <a href="/awards">Awards</a>
  {{/if}}
</nav>