<ul class="social">
  <li>
    <a href="https://github.com/oofsauce/">Github</a>
  </li>
  <li>
    {{!-- <a href="https://www.linkedin.com/in/alan-panayotov-645054102/">LinkedIn</a> --}}
    <a href="">LinkedIn</a>
  </li>
  <li><a href="https://keybase.io/alanpanayotov">Keybase</a></li>
</ul>