@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap'); // TODO: remove me
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --bg1: rgb(28, 28, 29);
  --bg2: rgb(44, 44, 46);
  --bg3: rgb(56, 56, 59);
  --bg4: rgb(80, 81, 85);
  --bg5: rgb(102, 104, 109);

  --fg1: white;
  --fg2: rgb(224, 219, 206);
  --fg3: rgb(182, 178, 168);
  --fg4: rgb(136, 133, 125);
}

html, body {
  margin: 0;
  background: var(--bg1);
  color: var(--fg1);
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Bitter', serif;
}

// TODO: move me to index specific css
main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
  margin: 0 10%;
  grid-template-columns: 1fr;
  // grid-template-areas: 
  //   "header header header header"
  //   "main main . sidebar"
  //   "footer footer footer footer";

  h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: inline;
  }

  p {
    grid-column: 2 / 3;
    grid-row: 2/3;
    display: inline;
  }

  nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;

    a {
      flex-grow: 1;
      text-align: center;
      margin: 0;
      padding: 8px 10px;
      text-decoration: none;

      transition: background-color 0.1s ease-in-out;

      &.active {
        border-bottom: 1px solid white;
      }

      &:hover {
        background-color: rgba(255,255,255,0.1);
      }

      &:visited {
        color: var(--fg1);
      }

      &:active {
        color: inherit;
      }
    }
  }
}

@media (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  nav {
    
  }
}