@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap'); // TODO: remove me
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --bg1: rgb(28, 28, 29);
  --bg2: rgb(44, 44, 46);
  --bg3: rgb(56, 56, 59);
  --bg4: rgb(80, 81, 85);
  --bg5: rgb(102, 104, 109);

  --fg1: white;
  --fg2: rgb(224, 219, 206);
  --fg3: rgb(182, 178, 168);
  --fg4: rgb(136, 133, 125);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background: var(--bg1);
  color: var(--fg1);
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

p {
  // font-family: 'Bitter', serif;
  // text-align: justify;
}

i {
  color: var(--fg2);
}

body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: flex-start;
  padding: 0 10%;
  grid-template-columns: 1fr;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

nav {
  display: flex;
  align-self: flex-start;

  a {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    padding: 8px 10px;
    text-decoration: none;

    transition: background-color 0.1s ease-in-out;
    border: none;

    &.active {
      border-bottom: 1px solid white;
    }

    &:hover {
      background-color: rgba(255,255,255,0.1);
    }

    &:visited {
      color: var(--fg1);
    }

    &:active {
      color: inherit;
    }
  }
}

main {
  grid-column: 2 / 3;
  grid-row: 2/3;
  // p {
  //   display: inline;
  // }

  &.projects {
    display: flex;
    flex-wrap: wrap;
    $size: 200px;
    a {
      border: none;
      section {
        width: $size;
        height: $size;
        background-size: cover;
      }

      h2 {
        width: $size;
        padding: 0;
        margin: 0;

        font-size: 20px;
        line-height: 1em;
        text-align: center;

        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }
  }

  &.project {

    h1 {
      grid-area: title;
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }

    // a {
    //   img {
    //     width: 200px;
    //   }
    //   background: none !important;
    //   border: none !important;
    //   float:right;
    //   padding: 0 0 10px 20px;
    // }

    section {
      &.description {
        grid-column: 1 / 3;
        grid-row: 2/4;
      }
      &.links {
        grid-area: links;
      }
    }
  }
}

ul.social {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  justify-content: center;
  list-style: none;
  color: var(--fg2);


  li {
    margin: 0 8px 5px 8px;

    a {
      padding: 1px 2px;
      // color: var(--fg2);
      // border-bottom: 1px solid var(--fg2);
      // &:hover {
        // color: var(--bg2);
        // background: var(--fg2);
        // border-bottom: 1px solid var(--fg2);
      // }
    }
  }
}

a {
  padding: 1px 2px;
  color: var(--fg2);
  border-bottom: 1px solid currentColor;

  cursor: pointer;

  &:hover {
    color: var(--bg2);
    background: var(--fg2);
    // border-bottom: 1px solid var(--fg2);
  }
}


@media (min-width: 750px) {
  body {
    display: grid;
    grid-template-columns: minmax(100px, 200px) minmax(500px, 600px);

    padding: 10% 0 0 0;
  }

  main {
    padding-right: 30px;
  }
  
  nav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
    flex-direction: column;

    margin-right: 20px;
    a {
      box-sizing: content-box;
      width: 150px;
      border-right: 1px solid var(--bg2);
  
      text-align: right !important;
      &.active {
        border-bottom: none !important;
        border-right: 2px solid var(--fg1);
      }
    }
  }

  p {
    margin-top: 0;
  }

  ul.social {
    flex-direction: row;
    li {
      margin: 0 8px;
    }
  }
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: 0.75em;

  padding: 0 0 5px 0;

  a {
    text-align: center;
    color: var(--fg4);
    border: none;

    &:hover {
      color: var(--bg2);
      background: var(--fg4);
      // border-bottom: 1px solid var(--fg2);
    }
  }
}