main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  $size: 200px;

  article {
    display: flex;
    flex-direction: column;
    a {
      display: grid;
      grid-template-rows: 1fr min-content;
      grid-template-columns: 2fr 1fr;
      align-items: left;
      border: none;
      h2 {
        margin: 0;
      }
      &:hover {
        box-shadow: -3px 0px 0px 0px var(--accent1);
        p {
          color: var(--bg2);
        }
      }
      h2 + p {
        align-self: center;
        justify-self: right;
        margin-right: 20px;
        grid-column: 2/3;
        grid-row: 1/3;
      }
      p {
        margin: 0 0 0 20px;
        color: var(--fg3);
      }
    }
  }
}

h4 {
  opacity: 0.75;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  &:first {
    margin-top: 0;
  }

  &::after { // horizontal line
    display: block;
    content: " ";
    width: 100%;
    height: 1px;
    margin-left: 1em;
    background: white;
  }
}

h4 + p {
  opacity: 0.5;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
}

@media (min-width: 750px) {
  main {
    article.other a {
      flex-direction: row;
      align-items: center;
    }
  }
}